.footerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 4rem;
  gap: var(--gap);
  flex-shrink: 0;
  padding-bottom: 0.5rem;
}

.footerItem {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  text-decoration: none;
}

.footerItem svg {
  padding-right: 1rem;
}
